!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/form-login.css', media='screen')


		// Add Fancybox //
		link(rel='stylesheet', type='text/css', href='vendor/fancybox/jquery.fancybox.css', media='screen')
		script(type='text/javascript', src='vendor/fancybox/jquery.fancybox.pack.js')
		
		// Add Jquery //
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
		
		// Add Foundation Library //
		script(type='text/javascript', src='/vendor/foundation/jquery.foundation.navigation.js')
		script(type='text/javascript', src='vendor/foundation/jquery.foundation.topbar.js')

		// Add Fonts //
		script(type='text/javascript', src="//use.typekit.net/tlx8hat.js")
		script(type='text/javascript') try{Typekit.load();}catch(e){}

		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Vollkorn')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300')
	
	body!= body