// Login Page //

div(id='login-overlay', style='opacity: 0.75; display: block')
	form(id='loginForm', onsubmit='#', method='post')
		h1 Log In to Access Your Account, or
			| a<href="signup"> Sign Up </a> to
			| Create Polls Of Your Own

		fieldset
			span.field
				input(id='userEmail', type='input', class='required form-text', name='userEmail', title='Email Address', placeholder='Email Address', autocomplete='off')
			span.field.password
				input(id='userPassword', type='text', name='userPassword', class='required form-text', title='Password', placeholder="Password", autocomplete='off')

		fieldset.form-action
			input(type='submit', value='Submit')
